.CheckoutContainer {
  width: 912px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 32px;
  border-radius: 5px;
  padding: 16px;
  gap: 16px;

  & > .Order{
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
  }

  & > div > .ActiveOrders{
    color: white;
    font-size: 20px;
    line-height: 28px;
  }

  & > div > .ActiveOrdersContainer {
    display: flex;
    width: 538px;
    flex-direction: column;
    background-color: white;
    border-radius: 5px;
    padding: 16px;
    gap: 24px;

    & > .ButtonContainer {
      display: flex;
      gap: 8px;
      & > button {
        display: flex;
        justify-content: center;
      }
    }

    & > .ActiveOrdersInfos {
      display: grid;
      grid-template-columns: 0.3fr 1.5fr 0.3fr;
      gap: 16px;

      & > div {
        & > .OrderNumber{
          color: #791D8F;
          font-size: 12px;
        }
      }

      & > .ImgContainer{
        display: flex;
        width: 64px;
        height: 64px;
        overflow: hidden;
        justify-content: center;
        
        & > .AcaiImg {
          border-radius: 5px;
        }
      }
  
      & > .OrderInfoContainer{
        display: flex;
        flex-direction: column;
        gap: 4px;
  
        & > .Acai{
          font-size: 16px;
          font-weight: 700;
          color: #606870;
        }
  
        & > .Infos{
          font-size: 12px;
          color: #A9B1B8;
        }

        
      }
    }

    & > .DeliveryInfo {
      display: flex;
      justify-content: space-between;

      & > div {
        display: flex;
        flex-direction: column;

        & > span:first-of-type{
          font-size: 12px;
          color: #A9B1B8;
        }

        & > span:last-of-type{
          font-size: 16px;
          color: #606870;
          font-weight: 500;
        }
      }
    }
  }
}