.Container {
  background-color: white;
  width: 912px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 32px;
  border-radius: 5px;
  padding: 16px;
  gap: 16px;

  & > .AcaiContainer {
    display: flex;
    width: 100%;
    gap: 16px;
    font-weight: 400;

    & > .ImgContainer{
      display: flex;
      max-width: 412px;
      height: 352px;
      overflow: hidden;
      justify-content: center;
      
      & > .AcaiImg {
        border-radius: 5px;
      }
    }

    & > .InfoContainer{
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 24px;

      & > h1 {
        font-size: 24px;
      }

      & > .Rating {
        display: flex;
        gap: 8px;
        font-size: 14px;
        align-items: center;

        & > span {
          color: #858992
        }
      }

      & > .Description{
        font-size: 14px;
        color: #858992;
        line-height: 21.98px;
      }

      & > .Selector{
        display: flex;
        width: 100%;
        
        
      }
    }

  }

  & > .ButtonContainer {
    display: flex;
    justify-content: flex-end;
    gap: 16px;

    & > .IncreaseDecreaseButton {

      .value-button {
        display: inline-block;
        border: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 20px;
        text-align: center;
        vertical-align: middle;
        padding: 11px 0;
        background: #eee;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      
      .value-button:hover {
        cursor: pointer;
      }
      
      #decrease {
        margin-right: -4px;
        border-radius: 8px 0 0 8px;
      }
      
      #increase {
        margin-left: -4px;
        border-radius: 0 8px 8px 0;
      }
      
      #input-wrap {
        margin: 0px;
        padding: 0px;
      }
      
      input#number {
        text-align: center;
        border: none;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        margin: 0px;
        width: 40px;
        height: 40px;
      }
      
      input[type=number]::-webkit-inner-spin-button,
      input[type=number]::-webkit-outer-spin-button {
          -webkit-appearance: none;
          margin: 0;
      }

    }
  }
  
}